.comments-form-container {
  margin-top: 10px;
  margin-left: 45px;
}

.comments-form-display-toggle {
  color: #aaa;
  cursor: pointer;
}

.comments-form-display-toggle:hover {
  color: #0be;
}

.comments-form-content {
  width: 100%;
  margin-top: 10px;
}

.comments-form-submit {
  margin-top: 10px;
  float: right;
}
