.tags-index-item {
  float: left;
  padding: 5px;
  margin: 0 10px 20px 0;
  width: 245px;
  font-size: 12px;
  color: #777;
  height: 100px;
  border-bottom: 1px solid #ddd;
}

.tags-question-count {
  display: inline-block;
  float: left;
  padding: 4px 0;
}

.tags-description-preview {
  margin: 5px 0;
  color: #618AB2;
}

.tags-index-item-footer {
  margin-top: 10px;
}
