$badgeItemContainerWidth: 510px;
$badgeItemTitleContainerWidth: 335px;
$badgeItemDetailContainerMarginLeft: 10px;
$badgeItemDetailContainerWidth: $badgeItemContainerWidth -
  $badgeItemTitleContainerWidth - $badgeItemDetailContainerMarginLeft;

.badging-item-container {
  padding: 10px;
  float: left;
  width: $badgeItemContainerWidth;
  height: 75px;
}

.badging-item-container:nth-of-type(4n + 2),
.badging-item-container:nth-of-type(4n + 3) {
  background: #eee;
}

.badging-item-container > div {
  float: left;
}

.badging-item-title-container {
  width: $badgeItemTitleContainerWidth;
}

.badging-item-detail-container {
  margin-left: $badgeItemDetailContainerMarginLeft;
  width: $badgeItemDetailContainerWidth;
}

.badging-item-detail-date {
  margin-bottom: 20px;
}
