/* For sub-search bar (user and tag search) */

.sub-search-container {
  position: relative;
  display: inline-block;
  margin: 20px 0 15px 0;
}

.sub-search-input-label {
  margin: 10px 10px 10px 0;
  float: left;
}

.sub-search-input {
  float: left;
  padding: 8px 8px;
  width: 150px;
}

.sub-search-loading {
  float: left;
  padding-left: 20px;
}
