.answer-new-main {
  float: right;
  width: 660px;
  margin-top: 15px;
}

.answer-new-header {
  font-size: 18px;
  padding: 10px 0;
}

.question-new-toggle-hidden {
  cursor: pointer;
}

.question-new-toggle-hidden:hover {
  color: #0be;
}
