.authentication-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.authentication-modal-main {
  position: fixed;
  padding: 15px;
  top: 50%;
  width: 338px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  color: #000;
  background: #fff;
  border-radius: 5px;
  border: 5px solid #22313F;
}

.auth-warning-container {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.auth-warning-header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.authentication-modal-main input {
  width: 328px;
}

.auth-form-group {
  margin: 20px 0;
}

.auth-form-label {
  font-weight: 700;
  margin: 5px 0;
}

.auth-form-errors {
  margin-top: 20px;
  color: #CF000F;
}

.auth-form-errors-header {
  font-weight: 700;
}

.auth-form-errors li {
  margin: 5px 0;
}

.auth-footer {
  margin-top: 20px;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.auth-footer div {
  margin: 5px;
}
