.nav-container {
  color: #fff;
  background: #000;
  font-size: 14px;
}

.nav-left-container {
  float: left
}

.nav-right-container {
  float: right
}

.base > li {
  display: block;
  padding: 9px 5px;
  float: left;
  cursor: pointer;
}

.base > li:hover {
  background: #555;
}

#nav-search-container {
  cursor: default;
  padding: 5px 0 5px 20px;
}

.nav-search-container:hover {
  background: inherit;
}

.nav-search {
  height: 24px;
}

.nav-header {
  padding: 40px 0;
  font-size: 14px;
}

.nav-header li {
  margin-left: 4px;
  padding: 5px 10px;
  color: #fff;
  background: #999;
  transition: background 100ms;

}
.nav-header li:hover {
  background: #ea1;
}
