.nav-container {
  color: #fff;
  background: #22313F;
  font-size: 14px;
  height: 34px;
}

.base > li {
  float: left;
}

.base > li > div:first-of-type, {
  padding: 9px 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.base > li > div:hover {
  background: #2C3E50;
}

#nav-search-container {
  cursor: default;
  position: relative;
  top: -4px;
  padding-left: 20px;
}

#nav-search-container input {
  width: 220px;
  padding: 0 5px;
}

#nav-search-container:hover {
  background: inherit;
}

.nav-search {
  height: 24px;
}

div.nav-header {
  padding: 35px 0;
  font-size: 14px;
  margin-bottom: 15px;
}

.nav-header li {
  margin-left: 4px;
  padding: 5px 10px;
  color: #fff;
  background: #999;
  transition: background 100ms;

}
.nav-header li:hover {
  background: #ea1;
}

#header-nav-active {
  background: #ea1;
}

#current-user-display-container {
  padding: 0 10px;
}

.nav-right-container > .nav-current-user-container {
  margin: 0;
  padding: 0 5px;
  position: relative;
}

.nav-current-user-icon {
  position:relative;
  display: inline-block;
  top: 1px;
  margin: 2px 5px 2px 5px;
  width: 26px;
  height: 26px;
}

.current-user-display-name {
  position: relative;
  display: inline-block;
  top: -8px;
}

.current-user-reputation {
  position: relative;
  display: inline-block;
  top: -7px;
}

#main-panel {
  border-top: 2px solid #F89406;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  margin-bottom: 200px;
}
