.question-form-title-container {
  position: relative;
}

.question-form-main {
  float: left;
  width: 660px;
  margin-top: 15px;
}

.question-form-title-label {
  font-weight: 700;
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#question-form-title-input {
  padding: 0 8px;
  height: 30px;
  width: 602px;
  float: right;
}

.question-form-tags-label-and-tags {
  height: 37px;
  line-height: 37px;
}

.question-form-tags-label {
  font-weight: 700;
}

.question-form-tags-container {
  position: relative;
  margin: 20px 0;
}

#question-form-tags-input {
  width: 650px;
}

.question-form-tags-input-disabled {
  cursor: not-allowed;
}

.question-form-tags-input-error,
.question-form-tags-input-error:hover {
  outline: 1px solid #96281B !important;
}

.question-form-tags-error {
  position: absolute;
  color: #96281B;
  right: 4px;
  bottom: 5px;
  // bottom: -21px;
  font-weight: 700;
}

.question-form-tags-search-popout {
  position: absolute;
  width: 650px;
  outline: 1px solid #666;
  padding: 5px;
  background: #fff;
}

.found-tag-item {
  float: left;
  padding: 5px;
  width: 206.666px;
  cursor: pointer;
  transition: background 200ms ease-out;
}

.found-tag-item:hover {
  background: #9f9;
  transition: background 0ms ease-out;
}

.found-tag-description {
  margin-top: 3px;
  font-size: 11px;
}

// new tag form

.question-form-tags-new-header {
  font-weight: 700;
}

.question-form-tags-search-popout > textarea {
  width: 640px;
  margin: 10px 0 5px 0;
}

// sidebar

.question-form-double-sidebar {
  padding: 15px;
  float: right;
  width: 335px;
  background: #ffd;
  border: 1px solid #cc8;
}

.question-form-double-sidebar-header {
  font-size: 18px;
}

.question-form-double-sidebar-content li {
  margin: 10px 0;
}
