.question-index-item {
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  position: relative;
}

.question-index-item-stats {
  float: left;
  margin: 0 26px 0 8px;
  width: 60px;
  text-align: center;
}

.question-index-item-stats-element {
  margin-bottom: 20px;
}

.question-index-item-main {
  float: left;
  width: 634px;
}

.question-index-item-stats-number {
  font-size: 20px;
}

.question-index-item-stats-label {
  font-size: 12px;
}

.question-index-item-stats-views {

}

.question-index-item-title {
  font-size: 16px;
  color: #06e;
  cursor: pointer;
}

.question-index-item-title:hover {
  color: #0be;
}

.question-index-item-content {
  margin: 10px 0 15px 0;
}

.question-index-item-user-pic {
  float: left;
  height: 35px;
  width: 35px;
  background: #000;
  margin-right: 5px;
  cursor: pointer;
}

.question-index-item-user-display-name-container {
  padding: 5px 0 2px 0;
}
