.question-index-item {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  position: relative;
}

.question-index-item-stats {
  float: left;
  margin: 0 26px 0 8px;
  width: 60px;
  text-align: center;
}

.question-index-item-stats-element {
  margin-bottom: 20px;
}

.question-index-item-main {
  float: left;
  width: 966px;
}

.question-index-item-stats-number {
  font-size: 20px;
}

.question-index-item-stats-label {
  font-size: 12px;
}

.question-index-item-stats-views {

}

.question-index-item-title {
  font-size: 16px;
  color: #06e;
  cursor: pointer;
  margin-bottom: 10px;
}

.question-index-item-title:hover {
  color: #0be;
}

.question-index-item-date-user-info {
  width: 200px;
  float: right;
}

.question-index-item-footer {
  position: absolute;
  width: 966px;
  bottom: 20px;
  font-size: 12px;
}

.question-index-item-tags {
  position: absolute;
  left:0;
}

.question-index-item-tags li {
  padding: 4px 8px;
  margin-right: 10px;
  float: left;
  font-size: 12px;
  cursor: pointer;
  background: #e2e2ff;
  color: #00f;
  transition: background 100ms;
}

.question-index-item-tags li:hover {
  background: #ccf;
}
.question-index-item-date {
  margin-bottom: 4px;
}

.question-index-item-user-pic {
  float: left;
  height: 35px;
  width: 35px;
  background: #000;
  margin-right: 5px;
}

.question-index-item-user-display-name {
  padding: 5px 0 2px 0;
}
