.ask-title-container {
  position: relative;
}

.ask-title-label {
  font-weight: 700;
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ask-title-input {
  padding: 0 8px;
  height: 30px;
  width: 602px;
  float: right;
}

.ask-double-sidebar {
  padding: 15px;
  float: right;
  width: 335px;
  background: #ffd;
  border: 1px solid #cc8;
}

.ask-double-sidebar-header {
  font-size: 18px;
}

.ask-double-sidebar-content li {
  margin: 10px 0;
}
