.question-show-header {
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 20px 0;
}
.question-show-item-container {
  border-bottom: 1px solid #ddd;
  padding: 25px 0;
  transition: background 2000ms ease-out;
}

.question-show-item-sidebar {
  position: relative;
  float: left;
  text-align: center;
  color: #777;
}

.question-show-item-vote-container {
  font-size: 20px;
  margin-bottom: 10px;
}

.arrow {
  margin: 0 15px 0 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
  transition: border 100ms;
}

.arrow-up-large {
  border-bottom: 15px solid #777;
}

.arrow-up-large:hover, .arrow-up-large-active {
  border-bottom: 15px solid #ea1;
}

.question-show-item-vote-count {
  margin: 8px 0;
}

.question-show-item-vote-count-active {
  color: #ea1;
}

.question-show-favorite-count-active {
  color: #ea1;
}

.arrow-down-large {
  border-top: 15px solid #777;
}

.arrow-down-large:hover, .arrow-down-large-active {
  border-top: 15px solid #ea1;
}

.question-show-item-main {
  width: 660px;
  float: right;
}

.question-show-item-favorite-container {
}

.question-show-favorite-icon {
  font-size: 32px;
  color: #aaa;
  cursor:pointer;
  transition: 100ms color;
}

.question-show-favorite-icon:hover, .question-show-favorite-icon-active {
  color: #ea1;
}

.question-show-item-main-content {
  font-size: 15px;
}

.question-show-item-tags-container {
  margin: 20px 0 15px 0;
}

.question-show-item-main-footer-tools {
  float: left;
  font-size: 13px;
}

.question-show-item-main-footer-tools span {
  margin-right: 5px;
  cursor: pointer;
  color: #777;
}

.question-show-item-main-footer-tools span:last-child {
  margin-right: 0;
}

.question-show-item-main-footer-tools span:hover {
  color: #000;
}

.stub-date-user-container-created-at {
  background: #e2e2ff;
}

.question-show-sidebar-infostub-element div {
  float: left;
  margin-top: 25px;
}

.question-show-sidebar-infostub-element-label {
  width: 60px;
  color: #777;
}

.question-show-item-question {
  border-bottom: 0;
}

.active-show-item {
  background: #ea1;
  transition: background 0ms ease;
}

/* React transitions */

.show-index-item-enter {
  transform: translateY(500%);
}

.show-index-item-enter.show-index-item-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.show-index-item-leave {
  opacity: 1;
  transform: translateX(0);
}

.show-index-item-leave.show-index-item-leave-active {
  opacity: 0.01;
  transform: translateX(-200%);
  transition: opacity 500ms, transform 500ms;
}
