/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* reset */

body, div, span, p, h1, h2, h3, h4, h5, h6, ul, li, button, strong, em, i,
img, article, header, footer, nav, small, form, label, input, textarea, time {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  outline-offset: 0;
}

textarea:focus {
  outline: 0;
  outline-offset: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input[type='submit'] {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: color 200ms, background 200ms;
}

input[type='submit']:hover {
  background: #000;
  color: #fff;
}

.group:after   {
  display: block;
  content: '';
  clear: both;
}

/* defaults*/

input {
  background: #fff;
  color: #000;
  padding: 5px;
}

html {
  font-size: 14px;
}

textarea {
  padding: 5px;
  resize: vertical;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea {
  outline: 1px solid #ccc;
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="submit"]:focus,
textarea:focus {
  outline: 1px solid #0bf;
}

button {
  color: #fff;
  background: #08f;
  padding: 5px 10px;
  transition: background 100ms;
  border-radius: 5px;
  border: 1px solid #bbf;
}

button:hover {
  background: #11f;
}

.button-disabled {
  cursor: not-allowed;
  background: #aaf;
}

.button-disabled:hover {
  background: #aaf;
}

.hidden {
  visibility: hidden;
}

.absent {
  display: none;
}

/* Navs */

.nav-left-container {
  float: left
}

.nav-right-container {
  float: right
}

.nav-left-container > li, .nav-right-container > li {
  display:block;
  float: left;
  cursor: pointer;
}

/* For all major components (Questions, Tags, Users) */

.main-content {
  width: 1060px;
  margin: 0 auto;
}

/* For Questions and Badges */

.content-double-main {
  width: 728px;
  float: left;
}

.content-double-sidebar {
  width: 300px;
  float: right;
}

.sidebar-quantity {
  font-size: 24px;
}

/* For footer of tools, date, user snippet below questions and answers */

.content-double-footer {
  font-size: 12px;
}

.stub-date-user-container {
  margin-left: 15px;
  padding: 8px;
  width: 200px;
  float: right;
}

.stub-date {
  margin-bottom: 4px;
}

/* For clickable links */

.link{
  color: #06e;
  cursor: pointer;
}

.link:hover {
  color: #0be;
}

/* For QuestionsForm and AnswersNew)*/

.item-new-double-main {
  float: right;
  width: 660px;
  margin-top: 15px;
}

.item-content-input {
  margin: 20px 0;
  padding: 10px;
  width: 640px;
  height: 200px;
}

/* React transitions */

.fade-in-left-out-enter {
  opacity: 0.01;
}

.fade-in-left-out-enter.fade-in-left-out-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-in-left-out-leave {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-left-out-leave.fade-in-left-out-leave-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}


.fade-in-fade-out-enter {
  opacity: 0.01;
}

.fade-in-fade-out-enter.fade-in-fade-out-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-in-fade-out-leave {
  opacity: 1;
}

.fade-in-fade-out-leave.fade-in-fade-out-leave-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}

/* misc common */

.user-reputation {
  font-weight: 700;
  color: #777;
}
