/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, p, h1, h2, h3, h4, h5, h6, ul, li, button, strong, em, i,
img, article, header, footer, nav, small, form, label, input, textarea, time {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input[type='submit'] {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: color 200ms, background 200ms;
}

input[type='submit']:hover {
  background: #000;
  color: #fff;
}

.group:after   {
  display: block;
  content: '';
  clear: both;
}

input {
  background: #fff;
  color: #000;
}

/* Navs */

.nav-left-container {
  float: left
}

.nav-right-container {
  float: right
}

.nav-left-container > li, .nav-right-container > li {
  display:block;
  float: left;
  cursor: pointer;
}

/* For all major components (Questions, Tags, Users) */

.main-content {
  width: 1060px;
  margin: 0 auto;
}

/* Subheader nav */

.subheader {
  height: 35px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.subheader h1 {
  float: left;
  font-size: 18px;
}

.subheader ul {
  float: bottom;
}

.subheader li {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #aaa;
  padding: 8px 10px;
  margin-left: 8px;
}

.subheader .active, .subheader li:hover {
  color: #000;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 2px solid white;
  border-top: 2px solid orange;
  padding: 7px 10px 9px 10px;
}
