/* preloader */

.icon-loading {
  background: url(image_path('loading.gif'));
  width: 32px;
  height: 32px;
}

html {
  background: url(image_path('restaurant_icons.png'));
  background-repeat: repeat;
}
