.users-index-item {
  float: left;
  padding: 5px;
  margin: 0 10px 20px 0;
  width: 245px;
  font-size: 12px;
  color: #777;
}

.users-index-item:hover {
  background: #eef;
}

.users-index-item .link {
  font-size: 14px;
}

.users-index-item-non-tag-container div {
  margin-bottom: 1px;
}

.users-index-item-user-pic {
  float: left;
  height: 45px;
  width: 45px;
  background: #000;
  margin-right: 5px;
  cursor: pointer;
}

.users-index-item-reputation {
  font-weight: 700;
}

.users-index-item-footer {
  margin: 5px 0 0 50px;;
}
