.show-activity-summary-item-container {
  margin-bottom: 40px;
  float: left;
  width: 515px;
  height: 270px;
}

.show-activity-summary-item-container:nth-child(2n) {
  margin-left: 30px;
}

// badges

.show-activity-badge-item-container > div {
  float: left
}

.show-activity-badge-item-count {
  font-size: 12px;
  line-height: 28px;
  margin-left: 5px;
}

// votes cast

.show-activity-votes-cast-element {
  float: left;
  margin-right: 50px;
}

.show-activity-votes-cast-label {
  font-size: 16px;
  font-weight: 700;
}

.show-activity-votes-cast-data-element {
  margin: 10px 0;
}

.show-activity-votes-cast-data-element > div {
}

.show-activity-votes-cast-data-label {
  font-size: 11px;
  font-weight: 700;
}

.show-activity-votes-cast-data-value {
  font-size: 16px;
  font-weight: 700;
  color: #666;
}
