.show-activity-detail-container {

}

.show-activity-detail-container .show-activity-header {
  font-size: 18px;
}

.show-activity-header .mini-nav-container {
  border-right: 0;
}

.show-activity-header-value {
  color: #777;
}

.show-activity-header-label {
}
