.show-activity-detail-container {

}

.show-activity-detail-container .show-activity-header {
  font-size: 18px;
}

.show-activity-header .mini-nav-container {
  border-right: 0;
}

.show-activity-header-value {
  color: #777;
}

.show-activity-header-label {
}

.show-activity-detail-item-date {
  font-size: 14px;
}

// answer items

.show-activity-detail-answer-item-date {
  float: right;
}

.show-activity-detail-answer-item-container
.show-activity-summary-item-line-item {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

// question items

.show-activity-detail-question-item-favorite-count {
  color: #777;
  font-weight: 700;
  font-size: 12px;
  margin-right: 10px;
}

.show-activity-detail-question-item-favorite-count:before {
  display: block;
  content: '★';
  font-size: 24px;
  color: #aaa;
}

// favorite items

.show-activity-detail-favorite-item-favorite-count {
  color: #ea1;
  font-weight: 700;
  font-size: 12px;
  margin-right: 10px;
}

.show-activity-detail-favorite-item-favorite-count:before {
  display: block;
  content: '★';
  font-size: 24px;
  color: #ea1;
}

// tag and badge items

.show-activity-detail-main .show-activity-tag-item-container,
.show-activity-detail-main .show-activity-badge-item-container {
  width: 25%;
}
