.show-settings-container input,
.show-settings-container textarea {
  width: 1060px - 10px;
}

.show-settings-inputs > div {
  margin-top: 20px;
}

.show-settings-label {
  margin: 5px 0;
}

.show-settings-submit-container {
  margin: 20px 0;
  position: relative;
}
.show-settings-submit-container > div {
  position: absolute;
  top: -3px;
  left: 120px;
}

.show-settings-submission-status-container {
  width: inherit;
  padding: 10px;
}

.show-settings-submission-status-header {
  font-weight: 700;
}

.status-success {
  border: 3px solid #2ECC71;
  background: #c8f7c5;
}

.status-success .show-settings-submission-status-header {
}

.status-fail {
  border: 3px solid #F22613;
  background: #F1A9A0;
}

.status-fail .show-settings-submission-status-header {
  color: #96281B;
}

.show-settings-status-failures {
  margin-top: 10px;
}
