.show-activity-summary-item-container {
  margin-top: 40px;
  float: left;
  width: 515px;
  height: 270px;
  outline: 1px dashed green;
}

.show-activity-summary-item-container:nth-child(2n) {
  margin-left: 30px;
}
