.user-show-profile-container {
}

.user-show-profile-header {
  height: 280px;
}

.user-show-profile-header > div {
  margin-right: 4%;
  height: 100%;
  float: left;
}

.user-show-profile-header > div:last-child {
  margin-right: 0;
}

// portrait panel

.user-show-profile-header-portrait-container {
  width: 20.8%;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.user-show-profile-header-portrait-content {
  margin: 30px 30px 0 30px ;
  height: auto;
}

.user-show-profile-header-portrait-content img {
  border: 1px solid transparent;
  border-radius: 4px;
}

.user-show-profile-header-portrait-reputation-container {
  text-align: center;
  margin: 8px 0;
}

.user-show-profile-header-portrait-reputation-number {
  font-size: 20px;
}

.user-show-profile-header-portrait-reputation-label {
  font-size: 12px;
  color: #888;
  letter-spacing: 0.8px;
}

.user-show-profile-header-portrait-badges-container {
  text-align: center;
}

.portrait-badge {
  display: inline-block;
  margin-right: 5px;
  padding: 6px 8px;
  font-size: 12px;
  color: #777;
  font-weight: 700;
  border-radius: 3px;
}

.portrait-badge-gold {
  border: 1px solid #FFD700;
  background: #FAFAD2;
}
.portrait-badge-gold:before {
  color: #FFD700;
}

.portrait-badge-silver {
  border: 1px solid #C0C0C0;
  background: #f5f5f5;
}
.portrait-badge-silver:before {
  color: #C0C0C0;
}

.portrait-badge-bronze {
  border: 1px solid #dca570;
  background: #FFD8B1;
}
.portrait-badge-bronze:before {
  color: #dca570;
}

.portrait-badge:before {
  content: 'â— ';
  font-size: 16px;
}

.portrait-badge:last-child {
  margin-right: 0;
}

// bio panel

.user-show-profile-header-bio-container {
  width: 45%;
}

.user-show-profile-header-bio-header {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 700;
}

.user-show-profile-header-bio-content {
  font-size: 15px;
}

// stats panel

.user-show-profile-header-stats-container {
  width: 26%;
}

.user-show-profile-header-stats-header-group {
  display: inline-block;
  margin: 20px 27px 20px 0;
}

.user-show-profile-header-stats-header-group:last-child {
  margin-right: 0;
}

.user-show-profile-header-stats-header-group-value {
  font-size: 16px;
  font-weight: 700;
}

.user-show-profile-header-stats-header-group-label {
  color: #666;
}

.user-show-profile-header-stats-row {
  margin-bottom: 15px;
}

.user-show-profile-header-stats-row > div {
  float: left;
}

.user-show-profile-header-stats-row-content {
  margin: 5px 0 5px 15px;
  color: #666;
}

.icon-small {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.icon-location {
  background: url(image_path('location.png'));
}

.icon-clock {
  background: url(image_path('clock.png'));
}

.icon-interface {
  background: url(image_path('interface.png'));
}

.icon-time {
  background: url(image_path('time.png'));
}

.user-show-profile-main-container > div {
  margin: 0 0 40px 0;
  width: 75%;
  float: right;
}

#user-show-profile-left-container {
  float: left;
  width: 21%;
}

.user-show-profile-main-footer {
  height: 50px;
  text-align: right;
}

.user-show-profile-main-footer span {
  line-height: 50px;
}
