.show-activity-summary-item-container {
  margin-top: 40px;
  float: left;
  width: 515px;
  height: 270px;
  outline: 1px dashed green;
}

.show-activity-summary-item-container:nth-child(2n) {
  margin-left: 30px;
}

.show-activity-summary-item-container .user-show-common-header {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

// badges

.show-activity-badge-item-container > div {
  float: left
}

.show-activity-badge-item-count {
  font-size: 12px;
  line-height: 28px;
  margin-left: 5px;
}
