.badges-index-main-help {
  margin: 15px 0;
}

.badges-index-category-element {
  margin: 55px 0;
}

.badges-index-category-element-header {
  font-size: 18px;
  margin-bottom: 20px;
}

.badges-index-subcategory-collection {
  padding-left: 30px;
  padding-right: 10px;
  border-top: 1px solid #ddd;
}

.badges-index-subcategory-element {
  position: relative;
  margin: 8px 0;
}

.badges-index-subcategory-element-badge-description {
  position: absolute;
  width: 450px;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}

.badges-index-subcategory-element-badgings-count {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #999;
}

// sidebar

.badge-index-sidebar-element {
  margin-bottom: 50px;
}

.badge-index-sidebar-element:first-child {
  margin-top: 3px;
}

.badge-index-sidebar-element-description {
  margin: 10px 0;
}
